@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.col-lg-3 {
    background-color: #3D5AF1;
    height: 100vh;
}

.button-account {
    border: none;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    color: #3D5AF1;
    font-size: 1.45rem;
}


/** title page **/

.home-title {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}

.nav-sidebar {
    position: fixed;
}

.nav-link {
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}

.nav-title {
    color: #E2F3F5;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}

.nav-image img {
    width: 20rem;
}

.icon {
    width: 2.5rem;
}

li:hover {
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
    color: #3D5AF1;
}

li:hover svg path {
    fill: #3D5AF1;
}

.svg-icon {
    fill: #E2F3F5;
    height: 3rem;
    width: 3rem;
}


/** Card **/

.population-card {
    background-color: #ffec00 !important;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.voters-card {
    background-color: green !important;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.title-text {
    font-family: 'Rubik', sans-serif;
    font-weight: bolder;
    font-size: 2rem;
}