    @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    body {
        background-color: white !important;
    }
    
    html,
    body {
        margin: 0;
        padding: 0;
    }
    
    .nav-item {
        font-family: 'Rubik', sans-serif;
        font-weight: bold;
        color: #3E3636 !important;
        font-size: 2.5vh;
    }
    
    .btn {
        background-color: #3D5AF1;
        border-radius: 35px;
        border: 2px solid rgba(0, 70, 147, 0.75);
    }
    
    .small-header {
        color: #3D5AF1;
        font-family: 'Rubik', sans-serif;
        font-weight: bolder;
    }
    
    .header h1 {
        color: #3E3636;
        font-family: 'Rubik', sans-serif;
        font-weight: bolder;
        font-size: 7vh;
    }
    
    span {
        color: #3D5AF1;
    }
    
    .navbar .navbar-nav .nav-link {
        color: #3E3636;
    }
    
    .login-text {
        color: white;
        font-family: 'Rubik', sans-serif;
        font: bold;
    }
    
    .juanbarangay-logo {
        height: 3rem;
    }
    
    .dot {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        display: inline-block;
        background-color: #3D5AF1;
    }
    
    .dot-card {
        top: 10%;
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: absolute;
        box-shadow: inset 0 0 0 6px #e78267;
    }
    
    .barangay-image {
        height: 30rem;
        width: 40rem;
    }
    
    .quotation-btn {
        background-color: #FFEC00;
        color: #3E3636;
        border-radius: 35px;
        border: 2px solid #FFEC00;
        font-family: 'Rubik', sans-serif;
        font-weight: bold;
    }
    
    .send-btn {
        background-color: #FFEC00;
        color: #3E3636;
        border-radius: 35px;
        border: 2px solid #FFEC00;
        font-family: 'Rubik', sans-serif;
        font-weight: bold;
        height: 5vh;
        width: 10vw;
    }
    
    .login-text {
        background-color: #3D5AF1;
        color: white;
        border-radius: 35px;
        border: 2px solid #3D5AF1;
        font-family: 'Rubik', sans-serif;
        font-weight: bold;
    }
    
    .folder-img {
        position: absolute;
        top: 60%;
        left: 55%;
        right: 40%;
        height: 15rem;
        width: 15rem;
    }
    
    .navbar-brand .website-rectangle {
        position: absolute;
        top: -110%;
        left: -2%;
        height: 25rem;
        width: 30rem;
        z-index: -5;
    }
    
    .email-img {
        position: absolute;
        right: 80%;
        height: 15rem;
        width: 15rem;
    }
    
    .how-it-works {
        background-color: #e2f3f5 !important;
    }
    
    .card-header-text {
        font-size: 1.75rem;
        font-weight: 700;
        font-family: 'Rubik', sans-serif;
        color: #3E3636;
    }
    
    .card-headers {
        margin-top: 25vh;
    }
    
    .icon {
        fill: #3D5AF1 !important;
    }
    
    .juanbarangay-footer {
        background-color: #3D5AF1;
    }
    
    .footer-links-one,
    .footer-links-two,
    .footer-links-three {
        padding: 20px;
    }
    
    .footer-logo {
        height: 5vh;
    }
    
    .svg-footer {
        height: 2rem;
        width: 2rem;
    }
    
    .copyright {
        background-color: navy;
        color: white;
    }
    
    .footer-header {
        font-family: 'Rubik', sans-serif;
        font-weight: bold;
        font-size: 3vh;
        color: #FFEC00;
    }
    
    a {
        color: white;
    }
    
    .footer-text,
    .footer-subtitle {
        color: white;
        font-family: 'Rubik', sans-serif;
    }
    
    a .footer-link {
        color: white !important;
    }
    
    .contact-header-text {
        font-weight: bold;
        font-size: 3rem;
        font-family: 'Rubik', sans-serif;
    }
    
    input {
        border: 2px solid;
        border-color: #3E3636;
    }